In [1]:
import findspark
print(findspark.init())

None

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
from pyspark.sql.types import StructField, StringType, IntegerType,StructType

In [11]:
data_schema =[StructField('age', IntegerType(), True),
             StructField('name', StringType(), True)]

In [12]:
final_struc = StructType()

In [13]:
final_struc.fields=data_schema

In [14]:
df= spark.read.json('people.json',schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df['age']

Column<'age'>

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
df.select(['age'])

DataFrame[age: int]

In [19]:
df.select(['age']).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [20]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
type(df.select(['age','name']))

pyspark.sql.dataframe.DataFrame

In [22]:
type(df.select(['age']))

pyspark.sql.dataframe.DataFrame

In [23]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [24]:
df.head(2)[0]

Row(age=None, name='Michael')

In [25]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [28]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df.withColumn('newage',df['age'])

DataFrame[age: int, name: string, newage: int]

In [30]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [31]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [32]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df.withColumnRenamed('age','mynewage')

DataFrame[mynewage: int, name: string]

In [34]:
df.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [35]:
df.withColumnRenamed('age','mynewage').describe().show()

+-------+------------------+-------+
|summary|          mynewage|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [36]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
df.createOrReplaceTempView('people')

In [38]:
results = spark.sql("select 'hello'")

In [39]:
spark

In [40]:
spark.sql("select * from people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
new_results = spark.sql("select * from people where name='Andy'")

In [42]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+